.navi-links {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navi-links li {
  margin: 1rem;
}

.navi-links a {
  border: 1px solid transparent;
  color: #292929;
  text-decoration: none;
  padding: 0.5rem;
}

.navi-links a:hover,
.navi-links a:active,
.navi-links a.active {
  background: #0772d6;
  border-color: #292929;
  color: #292929;
}

@media (min-width: 768px) {
  .navi-links {
    flex-direction: row;
  }

  .navi-links li {
    margin: 0 0.5rem;
  }

  .navi-links a {
    color: white;
    text-decoration: none;
  }
}
